<%= javascript_tag do %>
    if (position == 'up')
    {
        $("#sms").addClass("light-green lighten-4");
    }

    if (position == 'down')
    {
        $("#sms").addClass("red lighten-4");
    }

    if (position == 'prop')
    {
        $("#sms").addClass("amber lighten-4");
    }

    

<% end %>

<div id="sms" class="send-message">
  <div class="emoji-key valign-wrapper">
    <a href="#"><i class="fa fa-smile-o"></i></a>
  </div>
  <div class="message">
    <textarea rows='1' placeholder='Você concordou, gostaria de dizer o porquê?'></textarea>
  </div>
  <div class="send valign-wrapper">
    <%= link_to cancel_opinions_path, remote: true do %>
        <i class="mdi-content-clear"></i>
    <% end %>
  </div>
</div>