
<div class="row">
  <div class="col s12">
<% if params[:position] == "pro" %>
        <div class="card light-green lighten-4">
            <div class="card-content">
              <span class="card-title"><%= I18n.t("discussion.opinion_agreement") %></span>
                 <p><%= render partial: "opinions/form", opinion: @opinion %></p>


    <% elsif params[:position] == "against"  %>
     <div class="card red lighten-4">
       <div class="card-content">
         <span class="card-title"><%= I18n.t("discussion.opinion_agreement") %></span>
         <p><%= render partial: "opinions/form", opinion: @opinion %></p>

    <% end %>

    </div>
</div>