
 <% if params[:position] == "pro" %>
        <div id ="opinion_body" class="card-panel light-green lighten-3">
        <span class="black-text">


    <% elsif params[:position] ==  "neutral" %>
         <div id ="opinion_body" class="card-panel amber lighten-3">
         <span class="black-text">


    <% elsif "against" %>
         <div id ="opinion_body" class="card-panel red lighten-3">
         <span class="black-text">

    <% end %>

            <%= render partial: "opinions/form", opinion: @opinion %>
        </span>
    </div>


