
<div class="card" id="opinion-<%=opinion.id%>">

  <h5 class="card-title"><%= opinion.user.name %></h5>

  <h5 class="card-content"><%= opinion.body %></h5>

<%= render "opinions/buttons", opinion: opinion, discussion: discussion%>

  <div id="children" class="">

  </div>

</div>