
<div id=discussion_title", class="container center" >
<h2 class="blue-text text-lighten-2"><%=@discussion.title%></h2>
</div>

<%@discussion.opinions.each do |opinion|%>

    <%= render "opinions/opinion", opinion: opinion %>
<%end%>