
<%= content_tag :div, id: "discussion" do %>
    <div id=discussion_title", class="container center" >
    <h2 class="blue-text text-lighten-2"><%=@discussion.title%></h2>
    </div>

    <%= content_tag :div, id: "opinions" do %>
        <%@opinions.each do |opinion|%>
            <%= render "opinions/opinion", opinion: opinion %>
        <% end %>
    <% end %>
<% end %>
