<%

   case opinion.parent_position
     when 'pro'
        bar = "green lighten-1"

     when 'against'
        bar = "red lighten-1"

     when 'proposal'
        bar = "amber lighten-1"
   end

%>



  <div class="content card-panel blue-grey lighten-4 parent-content">

    <p class="white-text">Comentário Anterior:</p>
    <div class="grey-text text-darken-2">
          <p><%= opinion.body %></p>
    </div>



    <div class="author grey-text">
          <a href="" class="user"><%= opinion.user.name %></a> em <span class="date"><%=
          distance_of_time_in_words(Time.now, opinion.updated_at) %></span>
    </div>

    <p><%= link_to "Veja o Contexto desta Opinião", discussion_opinion_path(@discussion, opinion), method: :get %></p>

  </div>

