@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "custom";


.card .card-action  a {
	color: white
}

.card .card-title {
	color: black;
	font-size: 20px;
}

.card .card-body {
	font-size: 28px;
}
textarea {
  height: 200px;
}

.right {
  a {
    cursor: default;
  }
}

$color_apple_approx: black;

::-webkit-input-placeholder {
  color: $color_apple_approx;
}
​ {
}
input:-moz-placeholder {
  color: $color_apple_approx;
}
textarea:-moz-placeholder {
  color: $color_apple_approx;
}
